{% extends 'base.html' %}
{% load leaflet_tags %}

{% block links %}
{% leaflet_js %}
{% leaflet_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
<style type="text/css">
  #main {
    width: 100%;
    height: 600px;
  }
</style>
{% endblock %}

{% block content %}
{% block header %}
{% endblock %}

<div id="mapContainer">
  {% leaflet_map "main" callback="window.map_init" %}
</div>

<script type="text/javascript">

  function map_init(map, options){
    $(document).ready(function () {
      create_tile_layer(map);
      get_points(map);
    });
    map.on('moveend', function() {
      get_points(this);
    });
  }

  function create_tile_layer(map) {
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1Ijoia2F0eWF0Y2giLCJhIjoiY2pzbzJiMHFuMGk4YjQ5cnJ4a2NqajdkMSJ9.BklRaDWgtluGgXiAb6YsmA'
    }).addTo(map);
  }

  function get_points(map) {
    var minlat=0, maxlat=0, minlong=0, maxlong=0;
    minlat = map.getBounds().getSouth();
    maxlat = map.getBounds().getNorth();
    minlong = map.getBounds().getWest();
    maxlong = map.getBounds().getEast();

    $.ajax({
      type:"GET",
      url: "{% url 'points' %}",
      contentType: "application/json",
      data: {
        json_data : JSON.stringify({
          'min_lat': minlat,
          'max_lat': maxlat,
          'min_long': minlong,
          'max_long': maxlong,
          'entityType': entityType
        })
      },
      success: function(data) {
        geos = JSON.parse(data.geos);
        sites = data.entities;
        console.log(sites);

        render_points(map, geos, sites);
      }
    })
  }

  function render_points(map, geos, sites) {
    var myRenderer = L.canvas({ padding: 0.25 });
    for(i = 0; i < geos.length; i++) {
      geo = geos[i];
      addPopup(geo, sites[geo.pk]);
    }

    function addPopup(geo_obj, entity) {
      entity = JSON.parse(entity);
      console.log(entity)
      entity = entity[0]

      if(entity) {
        var url;
        if(entityType == "SITE") {
          url = "/sitedetails";
        } else if(entityType == "SPONSOR") {
          url = "/sponsordetails";
        }
        var popupText = "<a href='" + url + "/" + entity.pk + "'/>" + entity.fields.name + "</a>";
        var siteMarker = L.circleMarker([geo_obj.fields.latitude, geo_obj.fields.longitude], {
          renderer: myRenderer,
          radius: 3.0,
          fillOpacity: 1.0,
          color: '#820000'
        }).addTo(map).bindPopup(popupText)
        .on('mouseover', function(e){
          this.openPopup();
        })
        .on('click', function(e){
          this.openPopup();
        })
        .on('dblclick', function(e){
          window.open('{% url "site_details" entity.pk %}')
        })
      }
    }
  }


</script>

</br>
{% endblock %}