{% extends 'base.html' %}
{% load leaflet_tags %}

{% block links %}
{% leaflet_js %}
{% leaflet_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
<style type="text/css">
  #main {
    width: 100%;
    height: 600px;
  }
</style>
{% endblock %}

{% block content %}
<h3>Texas Hunger Initiative Site Locations</h3>
<h6>Click on a location to view more details regarding finding and/or contacting that particular site.</h6>

<div id="mapContainer">
  {% leaflet_map "main" callback="window.map_init" %}
</div>
<!-- <div>
  <h5>Not pictured</h5>
  {% for site in site_list %}
  {% if site.longitude == null or site.latitude == null %}
  <a class="d-block" href="{% url 'details' site.id %}">{{ site.name|title}} {{site.street_city|title}}, TX</a>
  {% endif %}
  {% endfor %}
</div> -->

<script type="text/javascript">

  function map_init(map, options){
    $(document).ready(function () { 
      create_tile_layer(map, options); 
      get_points(map, options);
    });
  }

  function create_tile_layer(map, options) {
    // Add tile layer to map
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1Ijoia2F0eWF0Y2giLCJhIjoiY2pzbzJiMHFuMGk4YjQ5cnJ4a2NqajdkMSJ9.BklRaDWgtluGgXiAb6YsmA'
    }).addTo(map);
  }

  function get_points(map, options) {
    map.on('zoomend', function(e){
      var bottom_left = L.getBounds().getSouthWest();
      var top_right = L.getBounds().getNorthEast();
      $.ajax({
        type:"GET",
        url: "points",
        data:{south_west: bottom_left, north_east: top_right},
        success: render_points(map, options, sites)
      })
    });
  }

  function render_points(map, options, site_list) {
    // Renderer for plotting points on canvas
    var myRenderer = L.canvas({ padding: 0.25 });

    {% for site in site_list %}

    var siteMarker = L.circleMarker(["{{ site.latitude }}", "{{ site.longitude }}"], {
      renderer: myRenderer,
      radius: 3.0,
      fillOpacity: 1.0,
      color: '#820000'
    }).addTo(map).bindPopup("<a href={% url 'details' site.id %}>{{ site.name|title }}</a>")
    .on('mouseover', function(e){
      this.openPopup();
    })
    .on('click', function(e){
      this.openPopup();
    })
    .on('dblclick', function(e){
      window.open('{% url "details" site.id %}')
    })

    {% endfor %}
  }
</script> 

</br>
<form action="{% url 'update' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Update">
</form>
{% endblock %}