{% extends 'base.html' %}
{% load leaflet_tags %}

{% block links %}
{% leaflet_js %}
{% leaflet_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
<style type="text/css">
  #details {
    width: 100%;
    height: 600px;
  }
</style>
{% endblock %}

{% block title %}{{ site.name }}{% endblock %}

{% block content %}
<h3>{{ site.name|title }}</h3>
<br>
<div class="row">
  {% if site.breakfast_days_served != null or site.breakfast_time != null %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <p><strong>Breakfast</strong>: {{ site.breakfast_days_served }}, {{ site.breakfast_time }}</p>
  </div>
  {% endif %}
  {% if site.amsnack_days_served != null or site.amsnack_time != null %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <p><strong>Morning Snack</strong>: {{ site.amsnack_days_served }}, {{ site.amsnack_time }}</p>
  </div>
  {% endif %}
  {% if site.lunch_days_served != null or site.lunch_time != null %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <p><strong>Lunch</strong>: {{ site.lunch_days_served }}, {{ site.lunch_time }}</p>
  </div>
  {% endif %}
  {% if site.pmsnack_days_served != null or site.pmsnack_time != null %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <p><strong>Afternoon Snack</strong>: {{ site.pmsnack_days_served }}, {{ site.pmsnack_time }}</p>
  </div>
  {% endif %}
  {% if site.supper_days_served != null or site.supper_time != null %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <p><strong>Supper</strong>: {{ site.supper_days_served }}, {{ site.supper_time }}</p>
  </div>
  {% endif %}
</div>
<br>

<div id="mapContainer">
    {% if site.geo_id != null %}
    {% leaflet_map "details" callback="window.map_init" %}
    {% else %}
    <p>(No map data available)</p>
    {% endif %}
</div>
<br>
<h6 class="d-inline">Address: </h6>
<p class="d-inline">{{ site.street_address1|title }}
{% if site.street_address2 != null %}
{{ site.street_address2|title }}
{% endif %} 
{{ site.street_city|title }}, {{ site.street_state }} {{ site.street_zip }}</p>
<br><br> 
<div class="row">
  {% if site.program_contact_salutation != null or site.program_contact_first_name != null or site.program_contact_last_name != null %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <h6>Program Contact</h6>
    <p class="mb-0">
      {{ site.program_contact_salutation}}
      {{ site.program_contact_first_name }}
      {{ site.program_contact_last_name }}
    </p>
    <p class="mb-0"><i>{{ site.program_contact_title_position }}</i></p>
    <p class="mb-0">{{ site.program_contact_email }}</p>
    <p class="mb-0">{{ site.program_contact_phone }}</p>
    
  </div>
  {% endif %}
  {% if site.site_supervisor_salutation != null or site.site_supervisor_first_name != null or site.site_supervisor_last_name != null %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <h6>Site Supervisor</h6>
    <p>
      {{ site.site_supervisor_salutation }}
      {{ site.site_supervisor_first_name }}
      {{ site.site_supervisor_last_name }}
    </p>
  </div>
  {% endif %}
  {% if site.primary_auth_rep_salutation != null or site.primary_auth_rep_first_name != null or site.primary_auth_rep_last_name != null %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <h6>Primary Authorized Representative</h6>
    <p>
      {{ site.primary_auth_rep_salutation }}
      {{ site.primary_auth_rep_first_name }}
      {{ site.primary_auth_rep_last_name }}
    </p>
  </div>
  {% endif %}
</div>


<script type="text/javascript">
    function map_init(map,options){

      $.ajax({
          type:"GET",
          url: "{% url 'get_geo' %}",
          contentType: "application/json",
          data: {geo_id: {{ site.geo_id }} },
          success: function(data) {
            entity = JSON.parse(data.geo);
            addPopup(entity[0]);
          }
        })
  
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1Ijoia2F0eWF0Y2giLCJhIjoiY2pzbzJiMHFuMGk4YjQ5cnJ4a2NqajdkMSJ9.BklRaDWgtluGgXiAb6YsmA'
    }).addTo(map);

      function addPopup(entity) {
        map.setView([entity.fields.latitude, entity.fields.longitude], 14);
  
        L.marker([entity.fields.latitude, entity.fields.longitude]).addTo(map)
        .bindPopup(
          "{{ site.name|title }}<br>{{ site.street_address1|title }}<br>{% if site.street_address2 != 'None' %}{{ site.street_address2|title }}<br>{% endif %}{{ site.street_city|title }}, {{ site.street_state }} {{ site.street_zip }}"
          ).openPopup();
        }

      
    }
  </script>
{% endblock %}