{% extends 'base.html' %}
{% load leaflet_tags %}

{% block links %}
{% leaflet_js %}
{% leaflet_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
<style type="text/css">
  #details {
    width: 100%;
    height: 600px;
  }
</style>
{% endblock %}

{% block title %}{{ sponsor.name }}{% endblock %}

{% block content %}
<h3>{{ sponsor.name|title }}</h3>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <p><strong>Type of Agency</strong>: {{ sponsor.type_of_agency|title }}</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <p><strong>County</strong>: {{ sponsor.county|title }}</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <p><strong>Status</strong>: {{ sponsor.ce_status|title }}</p>
  </div>
</div>
<br>

<div id="mapContainer">
    {% if sponsor.geo_id != null %}
    {% leaflet_map "details" callback="window.map_init" %}
    {% else %}
    <p>(No map data available)</p>
    {% endif %}
</div>
<br>
<h6 class="d-inline">Address: </h6>
<p class="d-inline">{{ sponsor.street_address1|title }}
{% if sponsor.street_address2 != None and sponsor.street_address2 != 'None' %}
{{ sponsor.street_address2|title }}
{% endif %} 
{{ sponsor.street_city|title }}, {{ sponsor.street_state }} {{ sponsor.street_zip }}</p>
<br><br> 
<div class="row">
  {% if sponsor.superintendent_first_name != None and sponsor.superintendent_last_name != None and sponsor.superintendent_first_name != 'None' and sponsor.superintendent_last_name != 'None' %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <h6>Superintendent</h6>
    <p class="mb-0">
      {% if sponsor.superintendent_salutation != None and sponsor.superintendent_salutation != 'None' %}
      {{ sponsor.superintendent_salutation}}
      {% endif %}
      {{ sponsor.superintendent_first_name }}
      {{ sponsor.superintendent_last_name }}
    </p>
    {% if sponsor.superintendent_title_position != None and sponsor.superintendent_title_position != 'None' %}
    <p class="mb-0"><i>{{ sponsor.superintendent_title_position | title}}</i></p>
    {% endif %}
    {% if sponsor.superintendent_email != None and sponsor.superintendent_email != 'None' %}
    <p class="mb-0">{{ sponsor.superintendent_email }}</p>
    {% endif %}
    {% if sponsor.superintendent_phone != None and sponsor.superintendent_phone != 'None' %}
    <p class="mb-0">{{ sponsor.superintendent_phone }}</p>
    {% endif %}
    
  </div>
  {% endif %}
  {% if sponsor.childnutdir_first_name != None and sponsor.childnutdir_last_name != None and sponsor.childnutdir_first_name != 'None' and sponsor.childnutdir_last_name != 'None' %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <h6>Child Nutrition Director</h6>
    <p class="mb-0">
      {% if sponsor.childnutdir_salutation != None and sponsor.childnutdir_salutation != 'None' %}
      {{ sponsor.childnutdir_salutation }}
      {% endif %}
      {{ sponsor.childnutdir_first_name }}
      {{ sponsor.childnutdir_last_name }}
    </p>
    {% if sponsor.childnutdir_title_position != None and sponsor.childnutdir_title_position != 'None' %}
    <p class="mb-0"><i>{{ sponsor.childnutdir_title_position | title }}</i></p>
    {% endif %}
    {% if sponsor.childnutdir_email != None and sponsor.childnutdir_email != 'None' %}
    <p class="mb-0">{{ sponsor.childnutdir_email }}</p>
    {% endif %}
    {% if sponsor.childnutdir_phone != None and sponsor.childnutdir_phone != 'None' %}
    <p class="mb-0">{{ sponsor.childnutdir_phone }}</p>
    {% endif %}
  </div>
  {% endif %}
</div>


<script type="text/javascript">
    function map_init(map,options){

      $.ajax({
          type:"GET",
          url: "{% url 'get_geo' %}",
          contentType: "application/json",
          data: {geo_id: {{ sponsor.geo_id }} },
          success: function(data) {
            entity = JSON.parse(data.geo);
            addPopup(entity[0]);
          }
        })
  
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1Ijoia2F0eWF0Y2giLCJhIjoiY2pzbzJiMHFuMGk4YjQ5cnJ4a2NqajdkMSJ9.BklRaDWgtluGgXiAb6YsmA'
    }).addTo(map);

      function addPopup(entity) {
        map.setView([entity.fields.latitude, entity.fields.longitude], 14);

        L.marker([entity.fields.latitude, entity.fields.longitude]).addTo(map)
        .bindPopup(
          "{{ sponsor.name|title }}<br>{{ sponsor.street_address1|title }}<br>{% if sponsor.street_address2 != 'None' %}{{ sponsor.street_address2|title }}<br>{% endif %}{{ sponsor.street_city|title }}, {{ sponsor.street_state }} {{ sponsor.street_zip }}"
          ).openPopup();
      }
    }
  </script>
{% endblock %}